.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.about__list{
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #707070;
}

.about__one{
    display: flex;
    align-items: center;
    img{
        width: 20px;
        height: 20px;
        margin-right: 5px;
    }
}

.about__p{
    color: #000;
}


.about__right{
    position: relative;
    height: 20rem;
   
}
.about__avatars{
    position: absolute;
    top: 0;
    right: 25px;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    box-shadow: 12px 12px 2px 1px rgba(12, 12, 14, 0.2);
    padding: 8px;
    
}

.about__avatar__head{
    display: flex;
    margin-bottom: 10px;
    > * + *{
        margin-left: 50px;
    }
}

.about__para2{
    color: #130469;
}

.about__avatar__img{
    display: flex;
    align-items: center;
    justify-content: center;

    .about__avatar__one{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 10px;
        img{
            width: 50px;
            height: 50px;
        }
        p{
            color: #000;
        }
    }
}

.about__accompte{
    position: absolute;
    top: 150px;
    left: 25px;
    border: 1px solid #c9c9c9;
    border-radius: 8px;
    box-shadow: 12px 12px 2px 1px rgba(12, 12, 14, 0.2);
    padding: 8px;
    width: 350px;
}

.about__accompte__1{
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1{
        font-size: 3rem;
    }
    svg{
        border: 1px solid #c9c9c9;
        padding: 5px;
        border-radius: 5px;
    }
}

.accompte__display{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #130469;
    padding: 8px;
    border-radius: 5px;
    color: #fff;

    .accompte__display__one{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      
    }
}

@media only screen and(max-width: 870px){
    .about{
        display: grid;
        grid-template-columns: 1fr;
    }
    .about__right{
       
      
        .about__avatars{
            right: 0;
            width: 90%;
            margin: 0 auto;
        }

        .about__accompte{
            top: 200px;
            left: 0;
            width: 90%;
            margin: 0 auto;
        }

    }
}
